body{
 background-color: #FFFFFB;
}

/* body {
  font-size: 1rem;
  min-height: 100vh;
  background-color: antiquewhite;
} */

/* .App {
  text-align: center;
  background-color: #cae9ff;
}
.Homepage {
  height: 90vh;
} */
/*

  https://jsfiddle.net/4Layrgjw/10/
  need to add in handleClick
*/
/* 
.radio-order-container {
  margin: 20px;
}
.radio-order-container input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-order-container label {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid rgb(24, 23, 23);
  border-radius: 4px;
}
.radio-order-container input[type="radio"]:checked + label {
  background-color: #d581a1;
  border-color: #a44b73;
}

button {
  margin: 20px;
  height: 3em;
  width: auto;
  padding: 15px;
  border: 10px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  background-color: #ebf7ff;
  color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
button:hover {
  background-color: #a44b73;
  color: white;
}
*/
/* ul {
  margin: auto;
  padding: 10px 0px;
  align-items: center;
  width: 90%;
}
li {
  padding: 10px;
  margin: 5px;
  color: black;
  background-color: #fbfef9;
  list-style: none;
}

.article-list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.article-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
  background-color: #a44b73;
  padding: 20px;
  height: 90vh;
  width: 96vw;
}

.article-grid-container > div {
  background-color: #ebf7ff;
  text-align: center;
  padding: 20px 0;
}

.main-article {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  overflow: auto;
}

.main-article > * {
  margin: 20px;
  padding: 0px 30px;
}
.article-comments {
  grid-column: 2 / 3;
  grid-row: 1 / span 1;
  overflow: scroll;
}

.add-comment {
  grid-column: 2 / 3;
  grid-row: 2 / span 1;
  overflow: auto;
}

.delete-comment-button {
  color: #1b4965;
  background-color: cadetblue;
  height: auto;
  width: auto;
  font-size: 15px;
  align-content: center;
  padding: 0%;
  margin: 0px;
} */

/* .Collapsible {
  padding: 10px;
  background-color: lavender;
} */
/*
.Header {
  background-color: #1b4965;
  height: 10%;
} 
*/
