.App {
  text-align: center;
  background-color: #cae9ff;
}
.Homepage {
  height: min-content(100vh);
}
/*
  Not refactored yet, so if you like CSS, I recommend you don't read on unless you like horror stories

  https://jsfiddle.net/4Layrgjw/10/
  need to add in handleClick
*/
.radio-order-container {
  margin: 20px;
}
.radio-order-container input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-order-container label {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid rgb(24, 23, 23);
  border-radius: 4px;
}
.radio-order-container input[type="radio"]:checked + label {
  background-color: #d581a1;
  border-color: #a44b73;
}

button {
  background-color: #ebf7ff;
  color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  padding: 15px;
  border: 10px;
  margin: 30px;
  height: 3em;
  width: auto;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
button:hover {
  background-color: #a44b73;
  color: white;
}
ul {
  margin: auto;
  padding: 10px 0px;
  align-items: center;
  width: 90%;
}
li {
  padding: 20px;
  margin: 5px;
  color: black;
  background-color: #fbfef9;
  list-style: none;
}
.Header {
  background-color: #1b4965;
  height: 10%;
  display: flex;
  align-items: flex-end;
}

.Homepage {
  font-size: 50px;
}

.collapsed-article-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}

.collapsed-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
}
.collapsed-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.collapsed-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: wheat;
}
.article-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
  background-color: #a44b73;
  padding: 20px;
  height: 90vh;
  width: 96vw;
}

.article-grid-container > div {
  background-color: #ebf7ff;
  text-align: center;
  padding: 20px 0;
}

.main-article {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  overflow: auto;
}

.main-article > * {
  margin: 20px;
  padding: 0px 30px;
}
.article-comments {
  grid-column: 2 / 3;
  grid-row: 1 / span 1;
  overflow: scroll;
}

.add-comment {
  grid-column: 2 / 3;
  grid-row: 2 / span 1;
  overflow: auto;
}

.delete-comment-button {
  color: #1b4965;
  background-color: cadetblue;
  height: 20px;
  width: 25px;
  font-size: 15px;
  align-content: center;
  padding: 0%;
  margin: 0px;
}

.Collapsible {
  padding: 20px;
  background-color: lavender;
}
