.App {
  text-align: center;
  background-color: #cae9ff;
  height: 100vh;
}

button {
  margin: 5px;
  height: 40px;
  width: auto;
  background-color: #d581a1;
  color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  padding: 15px;
  border: 10px;
  margin: 30px;
  height: 3em;
  width: auto;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
button:hover {
  background-color: #a44b73;
  color: white;
}

li {
  padding: 10px;
  margin: 5px;
  color: black;
  background-color: #fbfef9;
  list-style: none;
}
.Header {
  background-color: #1b4965;
}
.Homepage {
  font-size: 50px;
}
.article-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
  background-color: #d581a1;
  padding: 20px;
  height: 90vh;
  width: 96vw;
}

.article-grid-container > div {
  background-color: #f2e3ea;
  text-align: center;
  padding: 20px 0;
}

.main-article {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  overflow: auto;
}

.article-comments {
  grid-column: 2 / 3;
  grid-row: 1 / span 1;
  overflow: scroll;
}

.add-comment {
  grid-column: 2 / 3;
  grid-row: 2 / span 1;
  overflow: auto;
}
